html {
    margin: 0px;
    padding: 0px;
    background-image: url(img/bg4.png);
    display: flex;
    justify-content: center;
}

body{
    width:65%;
    margin: 0px;
    padding: 0px;
}

img {
    width:100%;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
    display: block;
    width: 80%;
    top:78%;
    left: 10%;
}

.absolute:hover{
    opacity: 0.7;
    cursor: pointer;
}

/* 960px以下の時に使用するCSS  */
@media screen and (max-width: 417px) {
    body{
        width: 100%;
    }
    .absolute{
        width: 80%;
        top:78%;
        left: 10%;
    }
}
